---
layout: default
title: Recent posts
---

<div class="posts">
  <br><br><br>
  {% for post in paginator.posts %}
  <div class="post">
    <span class="post-date">{{ post.date | date_to_string }}</span>

    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <!-- Using the truncate filter -->
    {% if post.content.size > 30 %}
      {{ post.content | truncatewords: 30 }}
      <<a href="{{ site.baseurl }}{{ post.url }}">read more</a>>
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>

  <!-- Clean separate -->
  <hr/><br/><br/>

  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}{{site.paginate_root}}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}{{site.paginate_root}}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}{{site.paginate_root}}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>
