html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 48em) {
  .sidebar-sticky-top {
    position: absolute;
    top: 0.5rem;
  }
  .sidebar-sticky-bottom {
    position: absolute;
    bottom: 0.5rem;
  }
}

.customcss-sidebar-about{
	margin:0 1.5em 2.5em 1.5em;
}

.customcss-sidebar-title{
	text-align:center;
}

/*hide google search*/
.customcss-google-search{
	z-index: 100; 
	visibility: hidden; 
	overflow:hidden; 
	position: absolute;

	/*second way*/
	/*
	z-index: 100; 
	visibility: hidden; 
	overflow:hidden; 
	height: 0; 
	width: 0;
	*/
}
