<div class="sidebar">
  <div class="container sidebar-sticky">
    <!-- Title -->
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.url }}">
          {{ site.sidebar_title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active {% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active {% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- Recent posts -->
      <a class="sidebar-nav-item{% if page.url == '/' | append:site.paginate_root %} active {% endif %}" href="{{ site.url }}{{site.paginate_root}}">Recent posts</a>

    </nav>

    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
