<div class="sidebar">
  <div class="container sidebar-sticky">
    <!-- Title -->
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.url }}{{ site.baseurl }}">
          {{ site.sidebar_title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active {% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- Recent posts -->
      {% assign url = '/' | append:site.paginate_root %}
      <a class="sidebar-nav-item{% if page.url == url %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}{{site.paginate_root}}">Recent posts</a>

    </nav>

    <br><br><br><br>

    <!-- Actual Google search bar, ugly, hidden -->
    <div style='visibility: hidden'>
      <script>
        (function() {
          var cx = '010220109003493844155:gddtorlfoeu';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:search></gcse:search>
    </div>

    <div>
      <style type="text/css">
        /* Apple-like Search Box */
        #apple #search input[type="text"] {
            background: no-repeat 10px 6px #444;
            border: 0 none;
            font: bold 12px Arial,Helvetica,Sans-serif;
            color: #d7d7d7;
            width:220px;
            padding: 6px 15px 6px 35px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
            -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
            -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
            -webkit-transition: all 0.7s ease 0s;
            -moz-transition: all 0.7s ease 0s;
            -o-transition: all 0.7s ease 0s;
            transition: all 0.7s ease 0s;
            }

        #apple #search input[type="text"]:focus {
            background: no-repeat 10px 6px #fcfcfc;
            color: #6a6f75;
            width: 250px;
            -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
            -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            }
      </style>
    </div>

    <!-- New search bar -->
    <div id="apple">
      <form method="get" action={{page.url}} id="search">
        <input name="q" type="text" size="40" placeholder="Google search..." />
      </form>
    </div>
    
    <br>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

  </div>
</div>
